.login-view.view.container
  .row.show-mobile.hidden
    .login-logo.col-xs-12
      span
        span.ubi ubi
        span.modo modo
        span.ubitrademark TM
        
  h3.col-xs-12.col-md-6.col-md-offset-3 login
  include ../forms/login-form.jade
  span.col-xs-12.col-md-6.col-md-offset-3
    a.register-link(href="#/register") sign up
    | for an account