footer.container-fluid
  .row
    .col-xs-12.col-sm-10
      .col-xs-12.col-sm-6
        .col-xs-12.col-sm-1
          a(href="#", title="Contact Us") Contact
        .hidden-xs.col-sm-1
          | -
        .col-xs-12.col-sm-1
          a(href="#", title="About") About
      .col-xs-12.col-sm-2.pull-right
        | Language:
        a(href="#") Something Here
  .row
    .col-xs-12.center-block 
      | Copyright &#169; 2015 testing. All rights reserved.