nav#topbar
  span.logo-span
    a.navbar-brand(href="/#")
      img(src="//placehold.it/20x20")
  span.links-span
    a(href="/page_1") Page              
    form.navbar-form.navbar-left(role="search")
      input.search-submit#search_query(type="text", placeholder="Search...", autocomplete="off")
  span.pull-right 
    a(href="#", data-toggle="modal" data-target="#login") Login