.bbui-panel-container
  position absolute
  margin 0 0 !important
  min-width 180px
  border 1px #666 solid
  .panel-header
    position relative
    min-height 18px
    margin 0 0 0 0
    background #fff
    cursor move
  .panel-content
    position relative
    min-height 180px
    margin 0 0 0 0
    background #ccc
    padding 6px

.checkbox-on:after
  content "\2713"
.checkbox-container
  position relative
  display inline-block
  .checkbox-symbol
    position relative
    display inline-block
    color: #ccc
    background #1B1E22
    border 1px solid #575B60
    top 4px
    width 16px
    height 16px
  label
    display inline-block
  input[type='checkbox']
    visibility hidden
    width 0