.bbui-panel-container
  position absolute
  margin 0 0 !important
  min-width 180px
  border 1px #666 solid
  .panel-header
    position relative
    min-height 18px
    margin 0 0 0 0
    background #fff
    cursor move
  .panel-content
    position relative
    min-height 180px
    margin 0 0 0 0
    background #ccc
    padding 6px